/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Arial, Helvetica;
  background: #fff;
}

@font-face {
  font-family: 'Times-Italic';
  src: url('../fonts/Times-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Antonio-Regular';
  src: url('../fonts/Antonio-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia Italic';
  src: url('../fonts/Georgia Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

input[type="button"], input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
}

/*-----start-header----*/
.header {
  background: #282828;
  padding: 2em 0;
}

.pages {
  float: left;
  width: 40%;
  margin-top: 8px;
}

.pages ul li {
  display: inline-block;
}

.pages ul li a {
  font-size: 1.8em;
  text-decoration: none;
  padding: 0;
  margin: 0 1em;
  list-style: none;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  font-family: 'Antonio-Regular';
}

.pages ul li a.active {
  border-bottom: 30px solid #1ac7c3;
}

.header-bottom {
  border: 1px solid #c1c1c1;
  padding: 22px;
  background: #f7f7f7;
  border-bottom: none;
}

.navigation {
  margin-top: 0.8em;
}

.navigation ul li {
  display: inline-block;
  margin: 0 0 0 2.5em;
}

.navigation ul li a {
  color: #fff;
  font-family: 'Times-Italic';
  font-style: italic;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
}

.navigation ul li a.active {
  color: #1ac7c3;
}

.navigation ul li a:hover {
  color: #1ac7c3;
}

.logo {
  float: left;
}

.logo a h1 {
  font-family: 'Antonio-Regular';
  text-transform: uppercase;
  color: #fff;
  font-size: 3em;
  font-weight: 400;
}

.logo a {
  text-decoration: none;
}

.type {
  float: left;
  width: 13%;
}

.list-nav {
  float: left;
  width: 80%;
}

.type h5 {
  color: #282828;
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Georgia Italic';
}

.list-nav ul li {
  display: inline-block;
  margin: 0 1.5em;
}

.list-nav ul li a {
  font-family: 'Georgia Italic';
  text-decoration: none;
  color: #798184;
  font-size: 1em;
}

.list-nav ul li a.active {
  color: #1ac7c3;
}

.list-nav ul li a:hover {
  color: #1ac7c3;
}

.navigation {
  float: right;
}

.content {
  border: 1px solid #e6e6e6;
}

.content-left {
  padding: 0;
}

.article img {
  width: 95%;
  margin-bottom: 1em;
}

h5.head {
  color: #fff;
  font-size: 1.35em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Antonio-Regular';
  background: #1ac7c3;
  width: 20%;
  padding: 7px;
  text-align: center;
  margin-top: -1px;
}

.article h6 {
  color: #1ac7c3;
  font-size: 1.3em;
  font-weight: 400;
  margin-left: 1.8em;
  font-family: 'Antonio-Regular';
  margin-top: 3em;
}

a.title {
  color: #282828;
  font-size: 1.85em;
  text-decoration: none;
  font-weight: 400;
  margin: 0.85em 1.2em 0.9em 1.2em;
  font-family: 'Antonio-Regular';
  display: block;
  line-height: 1.25em;
}

.article p {
  color: #798184;
  font-size: 1.15em;
  font-weight: 400;
  margin-left: 1.8em;
  line-height: 1.5em;
  font-family: 'Times-Italic';
  font-style: italic;
  margin-top: 1.5em;
}

.article {
  padding: 0 0 3em 0;
}

.content-right {
  padding: 0;
  border-left: 1px solid #e6e6e6;
}

.editor {
  border-bottom: 1px solid #e6e6e6;
  padding: 2.3em 1.5em 0 1.5em;
}

.editor h3 {
  color: #282828;
  font-size: 1.85em;
  font-weight: 400;
  font-family: 'Antonio-Regular';
  display: block;
  line-height: 1.25em;
}

.editor p {
  color: #798184;
  font-size: 1.25em;
  font-weight: 400;
  margin: 1em 0;
}

.editor label {
  color: #cbcbcb;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
}

.editor span {
  display: block;
  width: 70px;
  height: 2px;
  background: #e6e6e6;
  margin: 0 auto;
  margin-top: 1.2em;
}

.content-right-top a.active {
  background: #f4f4f4;
}

.content-right-top a:hover {
  background: #f4f4f4;
}

.content-right-top a {
  display: block;
  text-decoration: none;
}

.e-pic {
  width: 35%;
  float: left;
  margin-right: 3%;
}

.e-pic img {
  width: 100%;
  margin-top: -1px;
}

.e-pic-info {
  float: left;
  width: 60%;
}

.e-pic-info a {
  color: #282828;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Antonio-Regular';
  display: block;
  line-height: 1.6em;
  margin-top: 10px;
}

.e-pic-info span {
  display: block;
  width: 85px;
  height: 2px;
  background: #e6e6e6;
  margin: 0.8em 0;
}

.e-pic-info label {
  color: #cbcbcb;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
}

.editors-pic-grids h5 {
  color: #fff;
  font-size: 1.35em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Antonio-Regular';
  background: #000;
  width: 25%;
  padding: 7px;
  text-align: center;
  margin-top: 2em;
}

.editors-pic {
  border-top: 1px solid #e6e6e6;
}

.features {
  background: url('../images/features-bg.jpg') no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 595px;
  padding: 4em 0 0 4em;
}

.features h5 {
  color: #fff;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Antonio-Regular';
  background: #000;
  width: 12%;
  padding: 9px;
  text-align: center;
  margin-bottom: 1.5em;
}

.features h2 {
  color: #fff;
  font-size: 2.9em;
  font-weight: 400;
  font-family: 'Antonio-Regular';
  display: block;
  width: 60%;
  line-height: 1.4em;
}

.footer-links {
  padding: 0;
}

.footer-top {
  background: #282828;
  padding: 3em 0;
}

.footer-top h4 {
  color: #737c85;
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: 600;
  font-family: Helvetica, sans-serif;
}

.footer-top a {
  color: #737c85;
  font-size: 0.95em;
  font-weight: 100;
  text-decoration: none;
  display: block;
  margin-bottom: 0.8em;
  font-family: Helvetica, sans-serif;
}

.footer-top a:hover {
  color: #fff;
}

.span_66 {
  margin-top: 2.8em;
}

.footer-bottom {
  background: #131313;
  padding: 1.5em 0;
}

.copyrights p {
  color: #737c85;
  font-size: 1em;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}

.copyrights p a {
  color: #737c85;
  font-family: Helvetica, sans-serif;
}

/*-- about -- */
.about-content {
  padding: 3em;
  border-bottom: 1px solid #e6e6e6;
}

.about-content h3 {
  color: #1ac7c3;
  font-size: 2em;
  font-weight: 400;
  font-family: 'Georgia Italic';
  margin-bottom: 1em;
  text-align: center;
}

.about-content p {
  font-family: 'Georgia Italic';
  text-decoration: none;
  color: #000;
  font-size: 1.15em;
  line-height: 1.7em;
}

.about-content p label {
  margin-top: 1.5em;
  float: left;
  width: 50%;
}

p.Nam {
  width: 100%;
  margin: 1em 0 2em 0;
}

.more a {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  background: #1ac7c3;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  padding: 8px 25px;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
}

.about-content img {
  float: left;
  width: 45%;
  margin-right: 5%;
}

/*--- Contact- Starts Here ---*/
.singel_right {
  margin-top: 0em;
}

.span_1_of_contact {
  width: 60.1%;
  font-family: 'Times-Italic';
  float: left;
}

p.comment-form-author {
  margin-bottom: 2em;
}

.contact-form label {
  display: block;
  font-size: 1em;
  color: #000;
  text-transform: uppercase;
  font-family: 'Georgia Italic';
}

.contact-form input[type="text"] {
  padding: 10px;
  width: 95%;
  color: #9198A3;
  font-size: 0.9em;
  background: #fff;
  outline: none;
  display: block;
  border: 1px solid #eee;
}

.contact-form textarea {
  padding: 10px;
  display: block;
  width: 95%;
  background: #fff;
  border: 1px solid #eee;
  outline: none;
  color: #9198A3;
  font-size: 0.9em;
  -webkit-appearance: none;
  resize: none;
  height: 150px;
}

.contact-form input[type="submit"] {
  display: inline-block;
  padding: 13px 25px;
  background: #1ac7c3;
  color: #FFF;
  font-size: 1em;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}

.contact-form input[type="submit"]:hover {
  background: #000;
}

.contact_grid {
  display: block;
  float: left;
  width: 37%;
}

.span_2_of_contact_right h3 {
  font-size: 1.25em;
  font-weight: bold;
  color: #000;
  margin-bottom: 1.5em;
}

.address {
  margin-bottom: 1em;
}

.contact_address, .contact_email {
  overflow: hidden;
  font-size: 0.95em;
  color: #999;
  line-height: 1.5em;
}

.contact_email a {
  color: #999;
  text-decoration: none;
}

.contact_email a:hover {
  color: #3498db;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}

.map {
  margin: 2em 0 0 0;
}

.map iframe {
  width: 100%;
  height: 350px;
}

.contact-section {
  padding: 3em 2em;
  border-bottom: 1px solid #c1c1c1;
}

ul.product-top-list {
  padding: 0;
  float: left;
}

ul.product-top-list li {
  display: inline-block;
  font-size: 0.82em;
  color: #777;
}

ul.product-top-list li a {
  color: #000;
}

ul.product-top-list li span.act {
  background: yellow;
}

p.back {
  float: right;
  font-size: 0.82em;
}

h3.c-head {
  color: #1ac7c3;
  font-size: 2em;
  font-weight: 400;
  font-family: 'Georgia Italic';
  margin-bottom: 1em;
  text-align: center;
}

.printing-content {
  padding: 2em 1.5em;
}

.print-main h3 {
  color: #1ac7c3;
  font-size: 2em;
  font-weight: 400;
  font-family: 'Georgia Italic';
  margin-bottom: 1em;
  text-align: center;
}

.print-main a {
  color: #000;
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Georgia Italic';
  margin-bottom: 0.5em;
  text-decoration: none;
}

p.sub_head a {
  font-size: 1em;
}

p.sub_head {
  margin: 0.5em 0 1em 0;
}

p.ptext {
  color: #798184;
  font-size: 1.15em;
  font-weight: 400;
  line-height: 1.5em;
  font-family: 'Times-Italic';
  font-style: italic;
  margin: 1em 0;
}

.print-img {
  width: 36%;
  margin-right: 3%;
  float: left;
}

.print-text {
  float: right;
  width: 61%;
}

a.bhead {
  font-size: 1.5em;
  text-decoration: none;
  padding: 0;
  list-style: none;
  cursor: pointer;
  font-weight: 400;
  color: #000;
  font-family: 'Antonio-Regular';
}

a.bhead:hover {
  color: #1ac7c3;
}

.print-text p {
  color: #798184;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5em;
  font-family: 'Times-Italic';
  font-style: italic;
  margin: 0.5em 0;
}

.print-text p a {
  color: #1ac7c3;
}

a.more {
  text-decoration: none;
  color: #000;
}

a.more:hover {
  color: #1ac7c3;
}

.print-grids {
  margin-top: 4em;
}

.print-grid {
  margin-top: 2.5em;
}

img.img-responsive {
  width: 100%;
}

/*--error--*/
.error {
  text-align: center;
  min-height: 630px;
}

.error h1 {
  color: #282828;
  font-size: 11em;
  line-height: 1em;
  margin-top: 0.4em;
}

.error-head h1 span {
  color: #1ac7c3;
}

.error-head h2 {
  font-size: 1.5em;
  color: #70616A;
  margin-top: 1.5em;
}

.error-head a {
  color: #fff;
  background: #C06C84;
  font-size: 1.1em;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-top: 3em;
  text-decoration: none;
}

.error-head {
  padding-top: 5em;
}

/* Bounce To Left */
a.hvr-bounce-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: #17a086;
  color: #fff;
}

a.hvr-bounce-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #11856F;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

a.hvr-bounce-to-left:hover, a.hvr-bounce-to-left:focus, a.hvr-bounce-to-left:active {
  color: white;
}

.hvr-bounce-to-left:hover:before, a.hvr-bounce-to-left:focus:before, a.hvr-bounce-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.single-page {
  padding: 3em;
  border-bottom: 1px solid #e6e6e6;
}

p.span {
  color: #798184;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5em;
  font-family: 'Times-Italic';
  font-style: italic;
  margin: 0.5em 0;
}

p.span a:hover {
  text-decoration: underline;
}

p.span a {
  color: #1ac7c3;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5em;
  font-family: 'Times-Italic';
  font-style: italic;
  margin: 0.5em 0;
}

.features-list h3 {
  color: #282828;
  font-size: 1.85em;
  font-weight: 400;
  font-family: 'Antonio-Regular';
  display: block;
  line-height: 1.25em;
}

.features-list ul li a {
  color: #000;
  font-size: 1.15em;
  font-weight: 400;
  font-family: 'Times-Italic';
  font-style: italic;
  margin: 1em 0;
  display: block;
}

#commentform input[type="text"] {
  padding: 8px 15px;
  width: 60%;
  color: #444;
  font-size: 1em;
  border: 1px solid #eee;
  background: #eee;
  outline: none;
  display: block;
}

.leave h4 {
  color: #282828;
  font-size: 1.85em;
  font-weight: 400;
  font-family: 'Antonio-Regular';
  display: block;
  line-height: 1.25em;
}

#commentform label {
  display: block;
  font-size: 1em;
  color: #888;
}

#commentform span {
  color: #A60000;
  position: absolute;
}

#commentform input[type="text"] {
  padding: 8px 15px;
  width: 60%;
  color: #444;
  font-size: 1em;
  border: 1px solid #eee;
  background: #eee;
  outline: none;
  display: block;
}

#commentform textarea {
  padding: 13px 20px;
  width: 60%;
  color: #444;
  font-size: 0.85em;
  outline: none;
  height: 150px;
  display: block;
  resize: none;
  font-weight: 400;
  border: 1px solid #eee;
  background: #eee;
}

#commentform input[type="submit"] {
  padding: 12px 50px;
  color: #FFF;
  background: #444;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 1.2em;
  font-weight: 500;
}

#commentform input[type="submit"]:hover {
  background: #222;
}

.comments1 {
  margin-top: 3em;
}

#commentform p {
  position: relative;
  padding: 8px 0;
  font-size: 1em;
}

.comments-main {
  border: 1px solid #D5D4D4;
  padding: 17px 0px;
  margin: 15px 0px 40px 0;
}

.cmnts-right a {
  padding: 6px 12px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  background: #999;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  outline: none;
}

.cmts-main-left img {
  border: 3px solid #ccc;
}

.cmnts-right a:hover {
  background: #333;
  text-decoration: none;
}

.cmts-main-right h5 {
  font-size: 1em;
  color: #4e4e4b;
  margin: 0px;
  font-weight: 600;
}

.comments1 h4 {
  color: #282828;
  font-size: 1.85em;
  font-weight: 400;
  font-family: 'Antonio-Regular';
  display: block;
  line-height: 1.25em;
}

.cmts-main-right p {
  color: #333333;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.9em;
  opacity: 0.6;
  margin: 2px 0 15px 0px;
}

.cmnts-left p {
  font-size: 13px;
  color: #999;
  font-weight: 600;
  margin: 15px 0px;
}

.single-content-left {
  padding: 2.5em;
}

.features-list {
  margin-bottom: 3em;
}

.features-list ul {
  margin-left: 1em;
}

.cmts-main-left img {
  width: 100%;
}

/*-- responsive-design starts-here --*/

@media screen and (max-width: 1024px) {
  .logo a h1 {
    font-size: 2.8em;
  }

  .pages ul li a.active {
    border-bottom: 25px solid #1ac7c3;
  }

  .pages ul li a {
    font-size: 1.65em;
    margin: 0 0.8em;
  }

  .header {
    padding: 1.6em 0;
  }

  .header-bottom {
    padding: 16px;
  }

  .list-nav ul li {
    margin: 0 1.3em;
  }

  h5.head {
    font-size: 1.3em;
    width: 24%;
  }

  .article h6 {
    font-size: 1.25em;
    margin-left: 1.5em;
    margin-top: 2em;
  }

  a.title {
    font-size: 1.5em;
    margin: 0.75em 1.2em 0.9em 1.2em;
  }

  .article p {
    margin-left: 1.5em;
    margin-top: 1em;
  }

  .article {
    padding: 0 0 1.5em 0;
  }

  .editor h3 {
    font-size: 1.6em;
  }

  .editor p {
    font-size: 1.15em;
    margin: 0.75em 0;
  }

  .editor {
    padding: 2em 1em 0 1em;
  }

  .editors-pic-grids h5 {
    font-size: 1.3em;
    width: 26%;
    margin-top: 1em;
  }

  .e-pic-info a {
    font-size: 1.2em;
    margin-top: 8px;
  }

  .features {
    min-height: 489px;
  }

  .features h5 {
    width: 15%;
  }

  .features h2 {
    font-size: 2.4em;
    width: 64%;
  }

  a.bhead {
    font-size: 1.2em;
  }

  .print-text p {
    font-size: 0.95em;
    margin: 0.4em 0;
  }

  .print-main a {
    font-size: 1.35em;
  }

  .about-content p {
    font-size: 1.1em;
  }

  .about-content p label {
    margin-top: 1em;
    font-size: 0.875em;
  }

  .map iframe {
    height: 290px;
  }
}

@media screen and (max-width: 768px) {
  .footer-links {
    width: 50%;
    float: left;
    margin-top: 2em;
    padding: 0 15px;
  }

  .footer-top {
    padding: 1em 0 2em 0;
  }

  .type {
    width: 17%;
  }

  .header-bottom {
    padding: 13px;
  }

  .list-nav {
    width: 83%;
  }

  .list-nav ul li {
    margin: 0 1em;
  }

  .editors-pic-grids {
    width: 61%;
    border-right: 1px solid #e6e6e6;
  }

  .editors-pic-grids h5 {
    margin-top: 0;
  }

  .features {
    min-height: 375px;
    padding: 2em 0 0 2em;
  }

  .features h5 {
    width: 18%;
    font-size: 1.2em;
  }

  .features h2 {
    font-size: 2em;
  }

  .navigation ul li {
    margin: 0 0 0 1.2em;
  }

  .navigation ul li a {
    font-size: 1.1em;
  }

  .pages ul li a.active {
    border-bottom: 18px solid #1ac7c3;
  }

  .pages ul li a {
    font-size: 1.5em;
    margin: 0 0.4em;
  }

  .pages {
    float: left;
    width: 39%;
    margin-top: 6px;
    margin-left: 3%;
  }

  .logo a h1 {
    font-size: 2.4em;
  }

  .header {
    padding: 1.6em 0 1.2em 0;
  }

  .about-content {
    padding: 2em;
  }

  .error h1 {
    font-size: 10em;
  }

  .error-head h2 {
    font-size: 1.3em;
    margin-top: 0em;
  }

  .error {
    min-height: 550px;
  }

  .about-content img {
    width: 48%;
  }

  .about-content p {
    margin-right: 2%;
  }

  .contact-section {
    padding: 2em 1.5em;
  }

  .map iframe {
    height: 250px;
  }

  .cmts-main-left {
    width: 20%;
    float: left;
  }

  .cmts-main-right {
    width: 80%;
    float: left;
  }

  .cmnts-left {
    width: 50%;
    float: left;
  }

  .cmnts-left p {
    margin: 0;
  }

  .single-page {
    padding: 2em;
  }
}

@media screen and (max-width: 640px) {
  .editors-pic-grids {
    width: 70%;
  }

  .features {
    min-height: 308px;
    padding: 1.2em 0 0 1.2em;
  }

  .features h5 {
    width: 20%;
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  .features h2 {
    font-size: 1.7em;
  }

  .article h6 {
    margin-top: 1.4em;
  }

  .about-content p label {
    width: 100%;
  }

  .print-main h3, .about-content h3 {
    margin-bottom: 0.5em;
  }

  .type {
    width: 22%;
    margin-top: 4px;
  }

  .list-nav {
    width: 78%;
  }

  .pages ul li a {
    font-size: 1.2em;
    margin: 0 0.2em;
  }

  .pages ul li a.active {
    border-bottom: 13px solid #1ac7c3;
  }

  .logo a h1 {
    font-size: 2em;
  }

  .navigation ul li a {
    font-size: 1em;
  }

  .navigation ul li {
    margin: 0 0 0 1em;
  }

  .navigation {
    margin-top: 0.5em;
  }

  .header {
    padding: 1.4em 0 0.9em 0;
  }

  span.menu {
    width: 28px;
    height: 28px;
    background: url(../images/nav.png) no-repeat;
    display: inline-block;
    float: right;
    cursor: pointer;
  }

  .list-nav {
    width: 100%;
    display: none;
    text-align: center;
    background: #fff;
    padding: 0;
    margin-top: 10px;
  }

  .list-nav ul {
    float: none;
    width: 100%;
  }

  .list-nav ul li {
    display: block;
    float: none;
  }

  .list-nav ul li a {
    color: #000;
    display: block;
    padding: 10px 0px;
    border-bottom: 3px solid #fff;
  }
}

@media screen and (max-width: 480px) {
  .editors-pic-grids {
    width: 100%;
    border-right: none;
  }

  .footer-links {
    width: 100%;
    margin-top: 1.5em;
    text-align: center;
  }

  .span_66 {
    margin-top: 0;
  }

  .type {
    width: 35%;
    margin-top: 4px;
  }

  .header-bottom {
    padding: 9px;
  }

  h5.head {
    font-size: 1.1em;
    width: 27%;
  }

  .article h6 {
    margin-top: 1.2em;
    font-size: 1.2em;
    margin-left: 1em;
  }

  a.title {
    font-size: 1.3em;
    margin: 0.5em 1.2em 0.8em 1em;
  }

  .article p {
    margin-left: 1em;
    margin-top: 0.8em;
    font-size: 1em;
  }

  .editor h3 {
    font-size: 1.4em;
  }

  .editor p {
    font-size: 1.1em;
    margin: 0.4em 0;
  }

  .editor label {
    font-size: 1em;
  }

  .editor span {
    margin-top: 1em;
  }

  .features {
    min-height: 225px;
    padding: 1em 0 0 1em;
  }

  .features h5 {
    width: 24%;
    font-size: 1em;
    margin-bottom: 0.8em;
  }

  .features h2 {
    font-size: 1.4em;
  }

  .contact-section {
    padding: 1em;
  }

  .span_2_of_contact_right h3 {
    margin-bottom: 0.5em;
  }

  .map iframe {
    height: 200px;
  }

  p.comment-form-author {
    margin-bottom: 1.5em;
  }

  .contact-form input[type="submit"] {
    padding: 10px 25px;
  }

  .about-content {
    padding: 1em 1em 2em 1em;
  }

  .about-content h3 {
    font-size: 1.8em;
  }

  .about-content p {
    font-size: 0.95em;
  }

  .about-content img {
    width: 66%;
  }

  .printing-content {
    padding: 1.8em 1em;
  }

  .print-main a {
    font-size: 1.2em;
  }

  p.sub_head {
    margin: 0.1em 0 1em 0;
  }

  .print-text p {
    font-size: 0.75em;
  }

  a.bhead {
    font-size: 1.1em;
  }

  .print-main h3 {
    font-size: 1.75em;
  }

  .error h1 {
    font-size: 8em;
    margin-top: 0.3em;
  }

  .pages {
    display: none;
  }

  .navigation {
    margin-top: 0.3em;
  }

  .header {
    padding: 1.2em 0;
  }

  .single-page {
    padding: 2em 1em;
  }
}

@media screen and (max-width: 320px) {
  .type {
    width: 42%;
    margin-top: 5px;
    margin-left: 5px;
  }

  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .navigation ul li:first-child {
    display: none;
  }

  .logo a h1 {
    font-size: 1.8em;
  }

  .navigation ul li a {
    font-size: 1.1em;
  }

  .type h5 {
    font-size: 1.1em;
  }

  .header-bottom {
    padding: 7px;
  }

  .about-content img {
    width: 100%;
    margin: 0 0 1em 0;
  }

  h5.head {
    font-size: 1.05em;
    width: 37%;
  }

  .article h6 {
    margin-top: 1em;
    font-size: 1.1em;
    margin-left: 0.5em;
  }

  a.title {
    font-size: 1.1em;
    margin: 0.4em 0em 0.5em 0.5em;
  }

  .editor h3 {
    font-size: 1.25em;
  }

  .editors-pic-grids h5 {
    font-size: 1.2em;
    width: 34%;
  }

  .e-pic-info a {
    font-size: 1em;
    margin-top: 4px;
    height: 41px;
    overflow: hidden;
  }

  .e-pic-info span {
    height: 1px;
    margin: 0.5em 0;
  }

  .e-pic-info label {
    font-size: 1em;
  }

  .copyrights p {
    text-align: center;
    line-height: 1.7em;
  }

  .footer-bottom {
    padding: 1.2em 0;
  }

  .features h5 {
    width: 37%;
    font-size: 0.95em;
    margin-bottom: 0.5em;
  }

  .features h2 {
    font-size: 1.2em;
    width: 100%;
  }

  .features {
    min-height: 190px;
  }

  .span_1_of_contact {
    width: 100%;
    margin-bottom: 1.5em;
  }

  .contact_grid {
    width: 100%;
  }

  .contact-form input[type="text"] {
    padding: 8px;
    width: 100%;
  }

  .print-img {
    width: 56%;
    margin-right: 0;
    margin-bottom: 0.7em;
  }

  .print-text {
    width: 100%;
  }

  .error h1 {
    font-size: 7em;
    margin-top: 0em;
  }

  .error-head a {
    font-size: 1em;
    padding: 7px 16px;
    margin-top: 2em;
  }

  .error {
    min-height: 400px;
  }

  .single-page {
    padding: 1.5em 1em;
  }

  #commentform input[type="text"], #commentform textarea {
    width: 100%;
  }

  .single-content-left {
    padding: 1.5em 1em;
  }

  .cmts-main-left {
    width: 23%;
    padding: 0 0 0 6px;
  }

  .cmts-main-right {
    width: 76%;
    padding: 0 0 0 10px;
  }

  .cmts-main-right p {
    line-height: 1.5em;
    margin: 2px 0 10px 0px;
    height: 34px;
    overflow: hidden;
  }

  .cmnts-left {
    width: 59%;
    padding: 0;
    height: 18px;
  }

  .cmnts-left p {
    font-size: 9px;
    margin-top: 0.3em;
  }

  .cmnts-right a {
    padding: 4px 10px;
  }
}

.cookie-banner {
  position: fixed;
  display: flex;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 15px 15px;
  align-items: start;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.close-cookie {
  height: 20px;
  width: 40px;
  background-color: #d5d5d5;
  border: none;
  color: #000000;
  border-radius: 2px;
  cursor: pointer;
  opacity: 1 !important;
}

.cookie-banner p {
  padding: 10px;
}
